@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background: #9c835f;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(50px, 6vw, 80px);
  font-weight: bold;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(18px, 2.4vw, 24px);
  font-weight: bold;
}

nav > h1 {
  color: #f9b23d;
  font-style: inherit;
  font-size: 36px;
  font-weight: inherit;
}

#vs {
  font-size: 10vw;
  color: #bd0000;
  letter-spacing: 2px;
}

.clicked-part {
  border-radius: 10px;
}

#changeable {
  transform: rotate(-20deg);
  width: 100%;
  height: 8rem;
  display: none;
}
